<%= form_for :admin, :html => { :id => "demo", :class => "form-horizontal admin collapse" } do |f| %>

  <% if @admin.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @admin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :travel_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :travel_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:travel_metric) %>
  </div>

  <div class="form-group">
    <%= f.label :sport_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :sport_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:sport_metric) %>
  </div>
  
  <div class="form-group">
    <%= f.label :personal_projects_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :personal_projects_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:personal_projects_metric) %>
  </div>
  
  <div class="form-group">
    <%= f.label :voluntary_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :voluntary_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:voluntary_metric) %>
  </div>
  
  <div class="form-group">
    <%= f.label :achievements_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :achievements_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:achievements_metric) %>
  </div>
  
  <div class="form-group">
    <%= f.label :passion_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :passion_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:passion_metric) %>
  </div>
  
  <div class="form-group">
    <%= f.label :work_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :work_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:work_metric) %>
  </div>
  
  <div class="form-group">
    <%= f.label :self_reflection_metric, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
	<%= f.number_field :self_reflection_metric, :class => 'form-control', :step => :any%>
    </div>
    <%=f.error_span(:self_reflection_metric) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Save Ranking Metrics", :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
