<%- model_class = Admin -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table class="table table-striped">
  <thead>
    <tr>
	  <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
	  <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sorted_users.each do |user| %>
      <tr>
		<td><%= user.score %></td>
		<td><%= user.actual_user.first_name%></td>
		<td><%= user.actual_user.last_name%></td>
		<td><%= user.actual_user.email%></td>
		<td><%= user.actual_user.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>

puts "new_admint_path = #{new_admin_path}"


<%= link_to t('.edit', :default => t("helpers.links.edit")),
                      '/edit', :class => 'btn btn-default btn-primary' %>
					  
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_path,:class => 'btn btn-primary' %>
