<%- model_class = Admin -%>

<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>

<%= render :partial => 'form' %>

<table class="table table-striped">
  <thead>
    <tr>
	  <th><%= model_class.human_attribute_name(:id) %></th>
	  <th><%= model_class.human_attribute_name(:score) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
	  <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @sorted_users.each do |user| %>
      <tr>
		<td><%= link_to user.actual_user.id, user_admins_url(user.actual_user) %></td>
		<td><%= link_to user.score, user_path(user.actual_user)%></td>
		<td><%= user.actual_user.first_name%></td>
		<td><%= user.actual_user.last_name%></td>
		<td><%= user.actual_user.email%></td>
		<td><%= user.actual_user.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>

					  
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_path,:class => 'btn btn-primary' %>
