<%= form_for @answer, :html => { :class => "form-horizontal answer" } do |f| %>

  <% if @answer.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :text_answer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :text_answer, :class => 'form-control' %>
    </div>
    <%=f.error_span(:text_answer) %>
  </div>
  <div class="form-group">
    <%= f.label :data_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :data_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data_type) %>
  </div>
  <div class="form-group">
    <%= f.label :question_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :question_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:question_id) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>
  <div class="form-group">
    <%= f.label :video, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :video %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                answers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
